@model BlogPostList

<style>
  form {
    display: inline;
  }

</style>

<div style="margin: 3em 0" class="row">
  <div class="col 12">
    <a style="width: 100%" class="btn btn-primary" asp-controller="blog" asp-action="create">Create New Post</a>
  </div>
</div>

@foreach(var item in Model.BlogPosts) {
  <div>
      <h2>@item.PostTitle</h2>

      @{

        string postContentTrimmed = @item.PostContent;

        if(postContentTrimmed != null && postContentTrimmed.Length > 600) {
          postContentTrimmed = postContentTrimmed.Substring(0,600);
        }

      }

      <p>@Html.Raw(postContentTrimmed)</p>

      <a class="btn btn-success" asp-controller="blog" asp-route-id="@item.Id" asp-action="post">show</a>
      
      <a style="color: #fff" class="btn btn-warning" asp-controller="blog" asp-route-id="@item.Id" asp-action="edit">edit</a>

      @using (Html.BeginForm(FormMethod.Post)) {
        <button asp-controller="blog" asp-route-id="@item.Id" asp-action="delete" type="submit" class="btn btn-danger" value="Delete">Delete</button>
      }
  </div>
}