@model BlogPostList

<style>
  form {
    display: inline;
  }
</style>

@foreach(var item in Model.BlogPosts) {
  <div>
      <h2>@item.Title</h2>
      <p>@item.Content</p>

      <a class="btn btn-success" asp-controller="blog" asp-route-id="@item.Id" asp-action="post">show</a>
      
      <a class="btn btn-primary" asp-controller="blog" asp-route-id="@item.Id" asp-action="edit">edit</a>

      @using (Html.BeginForm(FormMethod.Post)) {
        <button asp-controller="blog" asp-route-id="@item.Id" asp-action="delete" type="submit" class="btn btn-danger" value="Delete">Delete</button>
      }
  </div>
}