@model BlogPostModel

<div>
    <h2>@Model.Title</h2>
    <p>@Model.Content</p>
      <p>
        <a href="#">@Model.Author.First_name @Model.Author.Last_name</a>
      </p>
      <p>
        <a href="#">@Model.Post_date</a>
      </p>
</div>

@foreach(var comment in Model.Comments) {
  <p>@comment.Content</p>
}