@model BlogPostModel

<div>
    <h1>@Model.Id</h1>
    <h2>@Model.Title</h2>
    <p>@Model.Content</p>
      <p>
        <a href="#">@Model.Author_id</a>
      </p>
      <p>
        <a href="#">@Model.Post_date</a>
      </p>
</div>